.aw {
    background-color: rgb(244, 216, 255);
}

.mme {
    background-color: rgb(248, 202, 104);
}

.ang {
    background-color: rgb(242, 225, 69);
}

.xl {
    background-color: rgb(252, 147, 147);
}

.tutoria {
    background-color: rgb(224, 214, 201);
}

.ao {
    background-color: rgb(173, 222, 173);
}

.ipo1 {
    background-color: rgb(172, 164, 217);
}

.som {
    background-color: rgb(148, 177, 230);
}

.optatiu {
    background-color: rgb(164, 164, 127);
}

.ipo2 {
    background-color: rgb(248, 229, 131);
}

.textColorWhite {
    color: white;
}
